{% extends 'base_admin.html' %}

{% block user %}btn-dark{% endblock %}

{% block content %}
    {% if error %}
        <div class="toast align-items-center text-bg-danger border-0 fade show m-3 position-absolute top-90 start-50 translate-middle-x"
             role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; z-index: 1;">
            <div class="d-flex">
                <div class="toast-body">
                    {{ error }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <div class="container mt-3">
        <form class="row" action="/user/add" method="post">
            <div class="col-md-12 mb-3">
                <label for="username" class="form-label">Enter UserName</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="password" class="form-label">Create Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required
                       onkeyup="validate_password()">
                <span class="text-danger" id="error"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="firstName" class="form-label">Enter First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName" class="form-label">Enter Last Name</label>
                <input type="text" name="lastName" id="lastName" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label for="pno" class="form-label">Enter Phone Number</label>
                <input type="text" name="pno" id="pno" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Enter Email</label>
                <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label for="role" class="form-label">Select Role:</label>
                <select id="role" name="role" class="form-select"
                        onchange="displayCourseSelector('courseSelector', this)" required>
                    <option selected disabled value="">Select One</option>
                    <option value="admin">Admin</option>
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                    <option value="warden">Warden</option>
                </select>
            </div>
            <div class="col-md-6 mb-3" id="courseSelector" style="display: none">
                <label for="course" class="form-label">Select Courses:</label>
                <select id="course" name="course" class="form-select" multiple>
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.code }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12 mb-3">
                <input type="submit" id="submit" class="btn btn-success float-end">
            </div>
        </form>
    </div>
    <script>
        function validate_password() {
            const pass = document.getElementById('password').value;
            const confirm_pass = document.getElementById('confirmPassword').value;
            if (pass !== confirm_pass) {
                document.getElementById('error').innerHTML = 'Password did not match!';
                document.getElementById('submit').disabled = true;
            } else {
                document.getElementById('error').innerHTML = '';
                document.getElementById('submit').disabled = false;
            }
        }

        function displayCourseSelector(id, elementValue) {
            document.getElementById(id).style.display = elementValue.value === 'student' ? 'block' : 'none';
        }
    </script>
{% endblock %}