{% extends 'base_admin.html' %}

{% block course %}btn-dark{% endblock %}

{% block content %}
    {% if error %}
        <div class="toast align-items-center text-bg-danger border-0 fade show m-3 position-absolute top-90 start-50 translate-middle-x"
             role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; z-index: 1;">
            <div class="d-flex">
                <div class="toast-body">
                    {{ error }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-5 d-flex align-items-stretch mb-3">
                <div class="card" style="width: 100%;">
                    <img src="{{ url_for('static', filename='add.jpg') }}" class="card-img-top" alt="add_course">
                    <div class="card-body">
                        <h5 class="card-title">Add Course</h5>
                        <p class="card-text">Click here to add course.</p>
                        <a href="/admin/course/add" class="btn btn-success float-end">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-stretch mb-3">
                <div class="card" style="width: 100%;">
                    <img src="{{ url_for('static', filename='modify.jpg') }}" class="card-img-top"
                         alt="modify_course">
                    <div class="card-body">
                        <h5 class="card-title">Modify Course</h5>
                        <form action="admin/course/modify" method="post">
                            <label for="code" class="form-label">Enter Course Code:</label>
                            <input type="text" class="form-control mb-2" name="code" id="code">
                            <input type="submit" class="btn btn-warning float-end">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}