{% extends 'base_admin.html' %}

{% block home %}btn-dark{% endblock %}

{% block content %}
    <div class="m-3">
        {% if empty %}
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-md-9">
                        <img src="{{ url_for('static', filename='empty.jpg') }}" width="100%;">
                    </div>
                    <div class="col-md-3">
                        <p class="display-4 mt-5">Wait for admin to push some notification.</p>
                    </div>
                </div>
            </div>
        {% else %}
            {% for notice in noticeList %}
                <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 100%;">
                    <div class="card-body">
                        <h1 class="card-title">{{ notice['title'] }}</h1>
                        {% if notice['updated_date_time'] %}
                            <h6 class="card-subtitle mb-2 text-muted">Edited On - {{ notice['updated_date_time'] }}</h6>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-muted">Created On
                                - {{ notice['creation_date_time'] }}</h6>
                        {% endif %}
                        <p class="card-text">{{ notice['description'] }}</p>
                        <a class="btn btn-danger float-end m-3" href="/notice/delete/{{ notice['key'] }}">Delete</a>
                        <a class="btn btn-warning float-end m-3" href="/notice/edit/{{ notice['key'] }}">Edit</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}