{% if role == 'admin' %}
    {% extends 'base_admin.html' %}
{% elif role == 'teacher' %}
    {% extends 'base_teacher.html' %}
{% elif role == 'student' %}
    {% extends 'base_student.html' %}
{% else %}
    {% extends 'base_warden.html' %}
{% endif %}

{% block home %}btn-dark{% endblock %}

{% block content %}
    {% if error %}
        <div class="toast align-items-center text-bg-danger border-0 fade show m-3 position-absolute top-90 start-50 translate-middle-x"
             role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; z-index: 1;">
            <div class="d-flex">
                <div class="toast-body">
                    {{ error }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <div class="container mt-3">
        <h1 class="mb-3">Change Password</h1>
        <form class="row" action="/profile/changePassword" method="post">
            <div class="col-md-12 mb-3">
                <label for="currentPassword" class="form-label">Enter Current Password</label>
                <input type="password" name="currentPassword" id="currentPassword" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="newPassword" class="form-label">Create New Password</label>
                <input type="password" name="newPassword" id="newPassword" class="form-control" required
                       onkeyup="validate_new_password()">
            </div>
            <div class=" col-md-6 mb-3">
                <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" required
                       onkeyup="validate_password()">
                <span class="text-danger" id="error"></span>
            </div>
            <div class="col-md-12 mb-3">
                <input type="submit" id="submit" class="btn btn-primary float-end">
            </div>
        </form>
    </div>
    <script>
        function validate_password() {
            const pass = document.getElementById('newPassword').value;
            const confirm_pass = document.getElementById('confirmNewPassword').value;
            if (pass !== confirm_pass) {
                document.getElementById('error').innerHTML = 'Password did not match!';
                document.getElementById('submit').disabled = true;
            } else {
                document.getElementById('error').innerHTML = '';
                document.getElementById('submit').disabled = false;
            }
        }

        function validate_new_password() {
            const pass = document.getElementById('currentPassword').value;
            const confirm_pass = document.getElementById('newPassword').value;
            if (pass === confirm_pass) {
                document.getElementById('error').innerHTML = 'Password is same!';
                document.getElementById('submit').disabled = true;
            } else {
                document.getElementById('error').innerHTML = '';
                document.getElementById('submit').disabled = false;
            }
        }
    </script>
{% endblock %}