{% extends 'base_student_course.html' %}

{% block home %}btn-dark{% endblock %}

{% block content %}
    <div class="m-3">
        {% if empty %}
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='empty.jpg') }}" width="100%;" alt="empty image">
                    </div>
                    <div class="col-md-6">
                        <p class="display-4 mt-5">Wait for the teacher to upload some material.</p>
                    </div>
                </div>
            </div>
        {% else %}
            {% for material in materialList %}
                <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 100%;">
                    <div class="card-body">
                        <h1 class="card-title">{{ material['title'] }}</h1>
                        {% if material['updated_date_time'] %}
                            <h6 class="card-subtitle mb-2 text-muted">Edited On
                                - {{ material['updated_date_time'] }}</h6>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-muted">Created On
                                - {{ material['creation_date_time'] }}</h6>
                        {% endif %}
                        <p class="card-text">{{ material['description'] }}</p>
                        <a href="{{ material['link'] }}" class="card-link">{{ material['link'] }}</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}