{% extends 'base_admin.html' %}

{% block notice %}btn-dark{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="mt-3">Create Notice</h1>
        </div>
        <form action="/notice/create" method="post">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div class="col-md-12 mb-3">
                    <label for="description" class="form-label">Description</label><br>
                    <textarea type="textarea" name="description" class="form-control w-100" rows="8"></textarea>
                </div>
                <div class="col-md-12 mb-3 clearfix">
                    <input type="submit" value="Submit" class="btn btn-success float-end">
                </div>
            </div>
        </form>
    </div>
{% endblock %}