{% extends 'base_student.html' %}

{% block title %}Leave Application{% endblock %}

{% block leave %}btn-dark{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="mt-3">Leave Application</h1>
        </div>
        <form action="/leave" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="checkout" class="form-label">Check Out Date</label>
                    <input type="date" name="checkout" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="checkin" class="form-label">Check In Date</label>
                    <input type="date" name="checkin" class="form-control">
                </div>
                <div class="col-md-12 mb-3">
                    <label for="reason" class="form-label">Reason for availing Out Pass</label><br>
                    <textarea type="textarea" name="reason" class="form-control w-100" rows="8"></textarea>
                </div>
                <div class="col-md-12 mb-3 clearfix">
                    <input type="submit" value="Submit" class="btn btn-success float-end">
                </div>
            </div>
        </form>
    </div>
{% endblock %}