{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
    <div class="card position-absolute top-50 start-50 translate-middle shadow-lg bg-body rounded">
        <div class="row g-0">
            <div class="col-md-6 d-none d-sm-block d-sm-none d-md-block">
                <img src="{{ url_for('static', filename='My project-1.png') }}"
                     class="img-fluid rounded-start"
                     alt="First Page" style="height: 100%;">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1 class="card-title text-center mt-5">Login</h1>
                    <form class="mt-5 mb-5" action="/" method="post">
                        <label for="username" class="form-label">Enter username:</label>
                        <input class="form-control" type="text" id="username" name="username">
                        <br>
                        <lable for="password" class="form-label">Enter password:</lable>
                        <input class="form-control" type="password" id="password" name="password">
                        {% if error %}
                            <p class="text-danger">{{ error }}</p>
                        {% else %}
                            <br><br>
                        {% endif %}
                        <input class="btn btn-outline-success" type="submit" value="Submit" style="width: 100%;">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const w = window.innerWidth;
        const h = window.innerHeight;
        let bg_url1 = "url('https://source.unsplash.com/random/";
        let bg_url2 = bg_url1.concat(w);
        let bg_url3 = bg_url2.concat("x");
        let bg_url4 = bg_url3.concat(h);
        let bg_url5 = bg_url4.concat("')");
        document.body.style.backgroundImage = bg_url5;
    </script>

{% endblock %}