{% extends 'base_admin.html' %}

{% block course %}btn-dark{% endblock %}

{% block content %}
    {% if error %}
        <div class="toast align-items-center text-bg-danger border-0 fade show m-3 position-absolute top-90 start-50 translate-middle-x"
             role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; z-index: 1;">
            <div class="d-flex">
                <div class="toast-body">
                    {{ error }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <div class="container mt-3">
        <form class="row" action="/admin/course/edit/{{ course.id }}" method="post">
            <div class="col-md-6 mb-3">
                <label for="code" class="form-label">Enter Course Code</label>
                <input type="text" name="code" id="code" class="form-control" value="{{ course.code }}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Enter Course Name</label>
                <input type="text" name="name" id="name" class="form-control" value="{{ course.name }}" required>
            </div>
            <div class="col-md-12 mb-3">
                <label for="description" class="form-label">Enter Description</label>
                <textarea name="description" id="description" class="form-control"
                          rows="8">{{ course.description }}</textarea>
            </div>
            <div class="col-md-6 mb-3">
                <label for="teacher" class="form-label">Select Teacher:</label>
                <select id="teacher" name="teacher" class="form-select" required>
                    <option selected disabled value="">Select One</option>
                    {% for teacher in teachers %}
                        <option id="{{ teacher['id'] }}" value="{{ teacher['id'] }}">{{ teacher['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12 mb-3">
                <a href="/user/delete/{{ course.id }}" class="btn btn-danger float-end">Delete</a>
                <input type="submit" id="submit" class="btn btn-success float-end me-3">
            </div>
        </form>
    </div>
    <script>
        document.getElementById('{{ instructorId }}').selected = true;
    </script>
{% endblock %}