{% extends 'base_admin.html' %}

{% block notice %}btn-dark{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-4 mb-3">
                <div class="card" style="width: 100%; height: 100%;">
                    <img src="{{ url_for('static', filename='create_notice.jpg') }}" class="card-img-top"
                         alt="create notice">
                    <div class="card-body">
                        <h5 class="card-title">Create Notice</h5>
                        <p class="card-text">This will be visible to all the users on their home dashboard.</p>
                        <div class="text-end" style="width: 100%;">
                            <a href="notice/create" class="btn btn-success stretched-link">Create</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card" style="width: 100%; height: 100%;">
                    <img src="{{ url_for('static', filename='edit_notice.jpg') }}" class="card-img-top"
                         alt="edit notice">
                    <div class="card-body">
                        <h5 class="card-title">Edit Notice</h5>
                        <p class="card-text">Edited notices will appear with a last edited stamp.</p>
                        <div class="text-end" style="width: 100%;">
                            <a href="notice/edit" class="btn btn-warning stretched-link">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card" style="width: 100%; height: 100%;">
                    <img src="{{ url_for('static', filename='delete_notice.jpg') }}" class="card-img-top"
                         alt="delete notice">
                    <div class="card-body">
                        <h5 class="card-title">Delete Notice</h5>
                        <p class="card-text">These notices will no longer be visible to users.</p>
                        <div class="text-end" style="width: 100%;">
                            <a href="notice/delete" class="btn btn-danger stretched-link text-end">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}