{% extends 'base_student.html' %}

{% block course %}btn-dark{% endblock %}

{% block content %}
    {% if empty %}
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-9">
                    <img src="{{ url_for('static', filename='empty.jpg') }}" width="100%;" alt="empty image">
                </div>
                <div class="col-md-3">
                    <p class="display-4 mt-5">You don't have any courses assigned to you.</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-3">
            <div class="row">
                {% for course in courses %}
                    <div class="col-md-6 d-flex align-items-stretch mb-3">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">{{ course.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ course.code }}</h6>
                                <p class="card-text">{{ course.description }}</p>
                                <a href="/student/course/{{ course.id }}"
                                   class="btn btn-primary stretched-link float-end">Go to
                                    page</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

