{% extends 'base_teacher.html' %}
{% block content %}
    <div class="m-3">
            {% for notice in noticeList %}
                <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 100%;">
                    <div class="card-body">
                        <h1 class="card-title">{{ notice['title'] }}</h1>
                        {% if notice['updated_date_time'] %}
                            <h6 class="card-subtitle mb-2 text-muted">Edited On - {{ notice['updated_date_time'] }}</h6>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-muted">Created On
                                - {{ notice['creation_date_time'] }}</h6>
                        {% endif %}
                        <p class="card-text">{{ notice['description'] }}</p>
                        <a class="btn btn-danger float-end m-3" href="#">Delete</a>
                        <a class="btn btn-warning float-end m-3" href="#">Edit</a>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}

