{% extends 'base_admin.html' %}

{% block user %}btn-dark{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3" style="width: 100%;">
                    <img src="{{ url_for('static', filename='add_user.jpg') }}" class="card-img-top" alt="add_user">
                    <div class="card-body">
                        <h5 class="card-title">Add User</h5>
                        <p class="card-text">Click here to add user.</p>
                        <a href="/user/add" class="btn btn-success float-end">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" style="width: 100%;">
                    <img src="{{ url_for('static', filename='modify_user.jpg') }}" class="card-img-top" alt="modify_user">
                    <div class="card-body">
                        <h5 class="card-title">Modify User</h5>
                        <p class="card-text">Click here to modify user.</p>
                        <a href="/user/modify" class="btn btn-warning float-end">Modify</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}