{% extends 'base_warden.html' %}

{% block content %}

    <h1 style="text-align: center">Leave Applications</h1>
    <ul class="list-group list-group-flush" id="leave">
        {% for leave in leaveList %}
            {% student = User.query.filter_by(id=leave.student_id).first() %}
            <li class="list-group-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    { student.firstName student.lastName}
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {leave.reason}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                {leave.from_date}
                                            </div>
                                            <div class="col-sm-6">
                                                {leave.to_date}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-success" onClick="leave(accept,leave)">ACCEPT</button>
                                    <button type="button" class="btn btn-danger" onClick="leave(reject,leave)">REJECT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>



{% endblock %}